*{
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('https://p1.pxfuel.com/preview/88/603/801/sewing-website-background-copy-space-front-view-table-top-view-sewing-threads.jpg');
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
}
.logo{
    width: 170px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    font-family: sans;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: sans-serif;
}
button{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid #ffc107;
    background: linear-gradient(to right, transparent 50%, #ffc107 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}
button:hover{
    background-position: right;
    color: white;
}
.slider{
    color: #ffc107;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 0s linear infinite;
}
@keyframes slider{
    0%{ margin-top: -400px; }
    5%{ margin-top: -200px; }
    30%{ margin-top: -200px; }
    35%{ margin-top: 0px; }
    65%{ margin-top: 0px; }
    70%{ margin-top: 200px; }
    100%{ margin-top: 200px; }
}
.abt{
    display: flex;
    justify-content: right;
}
.about{
    margin-top: 100px;
    overflow: hidden;
    font-family: 'Arbutus Slab', serif;
}
.abt{
    justify-content: center;
    display: flex;    
}

.about p{
    color: #999;
    line-height: 2em;
    font-size: 16px;
}
.about span{
    color: #0091ea!important;
}
.about img{
    vertical-align: middle;
    float: right;
}
.work{
    background: #0468a5;
}
.about i{
    list-style: none;
    margin-bottom: 1em;
    color: #0091ea!important;
    font-size: 18px;
    letter-spacing: 5px;
    margin-left: -10px;
    text-transform: capitalize;
    padding-left: 1em;
}
.works{
    background: #0000ff;
}
.qt-background{
    	margin-top: 100px;
    	opacity: 0.7;
	background: url(https://demo.w3layouts.com/demos_new/template_demo/28-04-2017/sewing-demo_Free/1953027278/web/images/g17.jpg) no-repeat;
	background-size: cover;
	padding: 100px 0;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
}
.qt-background p {
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
	font-family: 'Arbutus Slab', serif;
	margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 20px;  
	font-weight: 500;	
}


.menu-box{
	padding: 70px 0px;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Arbutus Slab', serif;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}

.filter-button-group {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
}

.filter-button-group button.active {
    background: #cfa671;
    color: #fff;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
}

.gallery-single{
	margin: 30px 0px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: 100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Arbutus Slab', serif;
}
.why-text p{
	color: #ffffff;
	font-size: 18px;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;
	height : 50%;
}
.gallery-single:hover .why-text{
	bottom: 0px;
    background:#ef664d;
    opacity: 0.6;
}
.services-section{
	padding:3em 0;
}
.services-header{
	text-align: center;
	width: 85%;
	margin: 0 auto;

}
.services-header h3
{
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #2a404e;
}
.services-header h3 span {
	color: #F0C514;
}
.services-header p{
	line-height: 1.5em;
	font-size: 15px;
	color: #7e7e7e;
	padding: 25px 0;
}
.services-sectiongrids {
	text-align: center;
}
.services-grid h4 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 15px 0;
	color: #2a404e;
	text-transform: uppercase;
}
.services-grid p {
	font-size: 15px;
	color: #7e7e7e;
	padding: 0 22px;
}
.arrow1 {
	padding-top: 30px;
	text-align: center;
}
.footer-section {
	padding: 40px 0px;
	background: #2e3e4e;
}
.contact-header {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
.contact-header h3 {
	font-size: 2.5em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #ef664d;
}
.contact-header h3 span {
color: #fefefe;
}
.contact-header p {
	line-height: 1.5em;
	font-size: 15px;
	color: #fefefe;
	padding: 25px 0;
}
.social-icon {
text-align: center;
padding:30px 0;
}
.social-icon i{
	width:40px;
	height:40px;
	background: url("assets/img-sprite.png") no-repeat 0px 0px;
	display:inline-block;
}
.social-icon i:hover{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icon a i.icon1{
	background-position:0px 0px;
}
.social-icon a i.icon1:hover{
	background-position:0px -40px;
}
.social-icon a i.icon2{
	background-position:-40px 0px;
}
.social-icon a i.icon2:hover{
	background-position:-40px -40px;
}
.social-icon a i.icon3{
	background-position:-80px 0px;
}
.social-icon a i.icon3:hover{
	background-position:-80px -40px;
}
.social-icon i.icon4{
	background-position:-120px 0px;
}
.social-icon a i.icon4:hover{
	background-position:-120px -40px;
}
.social-icon i.icon5{
	background-position:-160px 0px;
}
.social-icon a i.icon5:hover{
	background-position:-160px -40px;
}
.social-icon i.icon6{
	background-position:-200px 0px;
}
.social-icon a i.icon6:hover{
	background-position:-200px -40px;
}
.social-icon i.icon7{
	background-position:-240px 0px;
}
.social-icon a i.icon7:hover{
	background-position:-240px -40px;
}
.social-icon i.icon8{
	background-position:-280px 0px;
}
.social-icon a i.icon8:hover{
	background-position:-280px -40px;
}
.contact {
	padding-bottom:4em;

}
.contactgrid {
padding-bottom: 2em;
}
.contactgrid input[type="text"] {
	width: 100%;
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid#d5d6d7;
	font-size: 15px;
	color: #d5d6d7;
	text-transform: capitalize;
	padding: 10px 0;
}
.contact .btn{
    transition: all 1s ease-out;
}
.contact .btn:hover{
    background: #ef664d;
}
.contactgrid1 textarea  {
	width: 100%;
    overflow: hidden;
	background: none;
	outline: none;
	border: none;
	resize: none;
	border-bottom: 1px solid#d5d6d7;
	font-size: 15px;
	color: #d5d6d7;
	text-transform: capitalize;
	padding: 10px 0;
	height: 2.8em;
}
.contactgrid2 {
	padding: 2em 0 0 17em;
}
.contactgrid2 input[type="submit"] {
	color: #ef664d;
	background: none;
	border: none;
	font-size:15px;
	outline: none;
	text-transform: uppercase;
}
.contactgrid2 input[type="submit"]:hover {
	color: #d5d6d7;
}
.footer-bottom {
	
	text-align: center;
	padding-top: 40px;
}
.footer-bottom p {
	font-size: 17px;
	color: #d5d6d7;
	font-weight: 400;
}
.footer-bottom a {
	font-size: 19px;
	color: #ef664d;
	font-weight: 400;
	text-transform: capitalize;
}
.footer-bottom a:hover {
	color: #d5d6d7;
}
.footer-bottom p a {
	margin: 0 6px 0 6px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("assets/to-top2.png") no-repeat 0px 0px;
}
.header{
	background: #ef664d;
	color: white;
}
.header span{
	color: black;
}
.footer{
    overflow: hidden;
}
.footer footer{
    background: black;
}

.footer footer a{
    text-decoration: none;
    color:silver;
    margin-top: 20px;
    margin-bottom: 25px;
}
.footer footer{
    padding: 20px;
}
.footer footer a:hover{
    color: white;
}
.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    margin-right: 25px;
    overflow: hidden;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 50px;
    width: 80%;
    height: 80%;
}
